<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BitcoinDataLayerAdoNet.Properties.Settings.BitcoinDatabaseConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=BitcoinDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BitcoinDataLayerAdoNet.Properties.Settings.BitcoinDatabaseConnectionString1"
            connectionString="Data Source=win10; Initial Catalog=MyBitcoinData; User ID=chris; Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>